<div id="formContent">
        <form name="form"  #f="ngForm">
            <!-- email -->
            <input type="email" class="form-control" placeholder="Enter your email" name="email" ngModel #email="ngModel"
                required email>
            <div *ngIf="email.invalid &&email.touched">
                <p *ngIf="email.errors?.required"> please enter your email</p>
                <p *ngIf="email.errors?.email"> invalid email </p>
            </div>
            <!-- End email -->
            <!-- password -->
            <input type="password" class="form-control" placeholder="Enter your password" name="pass" ngModel
                #pass="ngModel" required pattern="[a-zA-Z]*">
            <div *ngIf="pass.invalid && pass.touched">
                <p *ngIf="pass.errors?.required"> please enter your password</p>
                <p *ngIf="pass.errors?.pattern"> invalid password </p>
            </div>
            <!-- end password -->
            <button type="submit" class="btn" [disabled]="f.form.invalid">Log in</button>
            <div id="formFooter">
                <a routerLink="/register">Register?</a>
                <a routerLink="/forgetpass">forget your password?</a>
            </div>
        </form>
    </div>